    <a name="about"></a>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>About the Hangouts</h1>
            <p class="small">

            We're not here so much to learn how to use the code we read as we are to see how it works on the inside and hopefully derive some kind of nerd enlightenment from the experience. That said, it's sometimes easier to understand how to use a package effectively by looking at its implementation, rather than just reading the docs or playing with toy examples. Documentation can mislead and even lie, but code always tells the truth.
            </p>

            <p class="small">
            When we're starting out on a project, we can afford to treat external dependencies as black box abstractions. But once we start hitting those tricky edge cases, we're just begging for trouble if we treat our foundational components as being completely opaque.
            </p>

            <p class="small">
            Reading the source can be intimidating at first, but it's really an important skill for an advancing developer to acquire. That skill can open the doors to writing better code and even becoming an open source contributor. So aside from learning the internals of any given tool, if we have a big picture goal for these hangouts it should probably be to lower the psychological barriers to this kind of exploration. That's where we're coming from, and we hope everyone walks away with something valuable. Thanks for joining in ;-)
            </p>

            <h3 class="text-right"><em>Hosted with <i class="fa fa-heart"></i> by <a href="https://twitter.com/anvilhacks">@anvilhacks</a> &amp; <a href="https://twitter.com/eisaksen">@eisaksen</a>.</em></h3>
          </div>
        </div>
      </div>
    </div>
