<a name="buzz"></a>
<div class="buzz">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <blockquote class="small">
          @readthesource Fantastic concept.. the ideal complement to open source
        </blockquote>
        <p>
          — @anandgeor
          <a href="https://twitter.com/anandgeor/status/519158497779269632">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
      </div>
      <div class="col-sm-3 col-md-3">
        <blockquote class="small">
          .@readthesource looks like an account to follow and a Google Hangout to try and join…
        </blockquote>
        <p>
          — @zachlendon
          <a href="https://twitter.com/zachlendon/status/507736687644909569">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
      </div>
      <div class="col-sm-3 col-md-3">
        <blockquote class="small">
          .@eisaksen @anvilhacks @rob_dodson @dannybluedesign @ebidel Thank you!  Can't wait for the next @readthesource.
        </blockquote>
        <p>
          — @oakley349
          <a href="https://twitter.com/oakley349/status/474905390799675392">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
      </div>
      <div class="col-sm-3 col-md-3">
        <blockquote class="small">
          @readthesource amazing, thanks! :D
        </blockquote>
        <p>
          — @yoshuawuyts
          <a href="https://twitter.com/yoshuawuyts/status/507774101407412224">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
