    <div class="jumbotron">
      <div class="container text-left">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            {{ range $key, $taxonomy := .Site.Taxonomies.tense }}
              {{ if eq $key "present" }}
                {{ range first 1 $taxonomy.Pages }}
                  <h1>{{ .Title }}</h1>
                  <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
                  <ul class="list-inline">
                    {{ range $info := .Params.participants }}
                      <li>
                        <img class="img-circle img-thumbnail"
                             src="{{ $info.avatar }}"
                             width="100"
                             height="100"
                             alt="{{ $info.name }}">
                        <p class="small">{{ $info.name }}</p>
                      </li>
                    {{ end }}
                  </ul>
                  <a class="btn btn-warning" href="{{ .Permalink }}">Watch it now!</a>

                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
