    <div class="jumbotron">
      <div class="container text-left">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            {{ range $key, $taxonomy := .Site.Taxonomies.tense }}
              {{ if eq $key "present" }}
                {{ range first 1 $taxonomy.Pages }}
                  <h1>{{ .Title }}</h1>
                  <h4>{{ .Date.Format "Mon, Jan 2, 2006" }}</h4>
                  <ul class="list-inline">
                    {{ range $info := .Params.guests }}
                      <li>
                        <img class="img-circle img-thumbnail img-responsive"
                             src="{{ $info.avatar }}"
                             alt="{{ $info.name }}">
                        <br>
                        <span class="small">{{ $info.name }}</span>
                      </li>
                    {{ end }}
                    {{ range $info := .Params.hosts }}
                      <li>
                        <img class="img-circle img-thumbnail img-responsive"
                             src="{{ $info.avatar }}"
                             alt="{{ $info.name }}">
                        <br>
                        <span class="small">{{ $info.name }}</span>
                      </li>
                    {{ end }}
                    {{ range $info := .Params.participants }}
                      <li>
                        <img class="img-circle img-thumbnail img-responsive"
                             src="{{ $info.avatar }}"
                             alt="{{ $info.name }}">
                        <br>
                        <span class="small">{{ $info.name }}</span>
                      </li>
                    {{ end }}
                  </ul>
                  <a class="btn btn-warning" href="{{ .Permalink }}">Watch it now!</a>

                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
