<div class="footer">
  <div class="container">
    <ul class="list-inline">

      <li>
        <a class="twitter" href="https://twitter.com/readthesource">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="google-plus" href="https://plus.google.com/105627089988168968277" rel="publisher">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
      <li>
        <a class="youtube" href="https://www.youtube.com/channel/UCVqD-Rd1nMmvbvf-AvQvgZw">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
      <li><a class="github" href="https://github.com/readthesource"><i class="fa fa-github"></i></a></li>
      <li><a class="rss" href="/index.xml"><i class="fa fa-rss"></i></a></li>
    </ul>
    <p class="small">&copy; 2014 readthesource.io</p>
  </div>
</div>
