<div class="hangout">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">

        <div class="flex-video widescreen">
          <iframe src="//www.youtube.com/embed/{{ .Params.youtube }}"
                  frameborder="0"
                  allowfullscreen>
          </iframe>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="hangout-info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        {{ partial "hangout-links.html" . }}

        <!-- Description -->
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p class="small">
          <strong>{{ .Date.Format "Mon, Jan 2, 2006" }}</strong>
          – {{ .Description | safeHtml }}
        </p>

      </div>
    </div>
  </div>
</div>

<div class="participants">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <ul class="list-inline text-center">
          {{ range $info := .Params.participants }}
          <li>
            <a href="">
              <img class="img-circle img-thumbnail"
                   src="{{ $info.avatar }}"
                   width="60"
                   height="60"
                   alt="{{ $info.name }}">
            </a>
          </li>
          {{ end }}
        </ul>

      </div>
    </div>
  </div>
</div>
