<tr>
  <td>


    {{ partial "hangout-links.html" . }}


    <!-- Description -->
    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="small">
      <strong>{{ .Date.Format "Mon, Jan 2, 2006" }}</strong>
      – {{ .Description | safeHtml }}
    </p>



    <!-- Participants -->
    <ul class="list-inline">
      {{ range $info := .Params.participants }}
      <li>
        <a href="">
          <img class="img-circle"
               src="{{ $info.avatar }}"
               width="30"
               height="30"
               alt="{{ $info.name }}">
        </a>
      </li>
      {{ end }}
    </ul>



  </td>
</tr>
