<tr>
  <td>

    <ul class="list-inline pull-right hangout-links">
      {{ if isset .Params "repository" }}
        <li>
          <a class="repository" href="{{ .Params.repository }}">
            <i class="fa fa-code"></i>
          </a>
        </li>
      {{ end }}

      {{ if isset .Params "youtube" }}
        <li>
          <a class="youtube-play" href="http://youtu.be/{{ .Params.youtube }}">
            <i class="fa fa-youtube-play"></i>
          </a>
        </li>
      {{ end }}

      {{ if isset .Params "hackernews" }}
        <li>
          <a class="hackernews" href="https://news.ycombinator.com/item?id={{ .Params.hackernews }}">
            <i class="fa fa-hacker-news"></i>
          </a>
        </li>
      {{ end }}
    </ul>


    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="small">
      <strong>{{ .Date.Format "Mon, Jan 2, 2006" }}</strong>
      – {{ .Description | safeHtml }}
    </p>



    <!-- Participants -->
    <ul class="list-inline">
      {{ range $info := .Params.participants }}
      <li>
        <a href="">
          <img class="img-circle"
               src="{{ $info.avatar }}"
               width="30"
               height="30"
               alt="{{ $info.name }}">
        </a>
      </li>
      {{ end }}
    </ul>



  </td>
</tr>
