<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/rts-logo.png" alt=""></a>
    </div>
    <div class="navbar-collapse collapse">

      <!-- LEFT NAV -->
      <ul class="nav navbar-nav">
        <li><a href="/#schedule">Schedule</a></li>
        <li><a href="/#buzz">Buzz</a></li>
        <li><a href="/#videos">Videos</a></li>
        <li><a href="/#sponsors">Sponsors</a></li>
        <li><a href="/#about">About</a></li>
      </ul>


      <!-- RIGHT NAV -->
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li>
          <a href="https://twitter.com/readthesource">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/105627089988168968277" rel="publisher">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCVqD-Rd1nMmvbvf-AvQvgZw">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/readthesource">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li><a href="/index.xml"><i class="fa fa-rss"></i></a></li>
      </ul>

    </div>
  </div>
</div>
