<a name="sponsors"></a>
<div class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline">
          <li><a href="#"><img src="http://placehold.it/150x50" alt=""></a></li>
          <li><a href="#"><img src="http://placehold.it/150x50" alt=""></a></li>
          <li><a href="#"><img src="http://placehold.it/150x50" alt=""></a></li>
          <li><a href="#"><img src="http://placehold.it/150x50" alt=""></a></li>
          <li><a href="#"><img src="http://placehold.it/150x50" alt=""></a></li>
        </ul>
        <p class="small muted">If you were here, they'd be clicking and tapping. Contact us to find out about being a sponsor.</p>
      </div>
    </div>
  </div>
</div>
