<a name="sponsors"></a>
<div class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="col-xs-4 col-md-4 col-lg-4">
          <a href="#">
            <img class="img-responsive" src="http://placehold.it/350x75" alt="">
          </a>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
          <a href="#">
            <img class="img-responsive" src="http://placehold.it/350x75" alt="">
          </a>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
          <a href="#">
            <img class="img-responsive" src="http://placehold.it/350x75" alt="">
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p class="small">If you were here, they'd be clicking and tapping.<br>Contact us to find out about being a sponsor.</p>
      </div>
    </div>
  </div>
</div>
