<div class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//anvil.us6.list-manage.com/subscribe/post?u=f57b10b4ad&amp;id=efb47ffe52"
                method="post" id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate form-inline text-center"
                target="_blank"
                novalidate>
            <div class="mc-field-group control-group">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_f57b10b4ad_efb47ffe52" tabindex="-1" value=""></div>
              <input type="email"
                     value=""
                     name="EMAIL"
                     class="required email form-control"
                     placeholder="Enter your email to be notified of upcoming hangouts"
                     id="mce-EMAIL">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-warning">
              <span class="help-block">Just updates on hangouts. No spam. No one else gets your email.</span>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->



      </div>
    </div>
  </div>
</div>



